<body class="corpo">
  <div class="photo">
    <button
      type="button"
      class="btn-close text-reset"
      (click)="sair()"
      aria-label="Close"
      id="close"
    ></button>
    <img src="\assets\image\foto-upload.png" />
    <h3 class="subtittle">Insira uma imagem do <b>aluno</b></h3>
    <button
      type="button"
      class="btn btn-dark d-flex align-items-center rounded-pill"
      routerLink=""
      style="
        height: min-content;
        width: 10rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.5rem;
      "
    >
      carregar imagem
    </button>
  </div>
  <div class="content" id="scroll">
    <div class="modal-header">
      <h2 class="modal-title" *ngIf="inicial">
        <mat-icon class="icon">person</mat-icon>Informações do Aluno
      </h2>
    </div>
    <div class="modal-body">
      <form [formGroup]="studentForm" class="form-row">
        <div class="col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="name">Nome</label>
          <input
            type="text"
            name="name"
            formControlName="nameStudent"
            class="form-control form-control-sm input"
          />
        </div>

        <div class="col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="email">Email</label>
          <input
            type="text"
            name="email"
            formControlName="emailStudent"
            class="form-control form-control-sm input"
          />
        </div>

        <div class="col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="phone">Telefone</label>
          <input
            type="text"
            name="phone"
            formControlName="phoneStudent"
            class="form-control form-control-sm input"
          />
        </div>

        <div class="col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="cpf">CPF</label>
          <input
            type="text"
            name="cpf"
            formControlName="cpfStudent"
            class="form-control form-control-sm input"
          />
        </div>

        <div class="col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="rg">RG</label>
          <input
            type="text"
            name="rg"
            formControlName="rgStudent"
            class="form-control form-control-sm input"
          />
        </div>

        <div class="col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="disabledPerson">PCD</label>
          <select
            name="disabledPerson"
            formControlName="disabledPersonStudent"
            class="form-control form-control-sm input"
          >
            <option value="false">não</option>
            <option value="true">sim</option>
          </select>
        </div>

        <div class="col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="disabledPersonType"
            >Se sim, qual tipo?</label
          >
          <input
            type="text"
            name="disabledPersonType"
            formControlName="disabledPersonTypeStudent"
            class="form-control form-control-sm input"
          />
        </div>

        <div class="col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="gender">Gênero</label>
          <select
            name="gender"
            formControlName="genderStudent"
            class="form-control form-control-sm input"
          >
            <option value="Male">masculino</option>
            <option value="Female">feminino</option>
            <option value="Others">outro</option>
          </select>
        </div>

        <div class="col-12 col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="birthday">Data nascimento</label>
          <input
            type="date"
            formControlName="birthdayStudent"
            name="birthday"
            class="form-control form-control-sm input"
          />
        </div>

        <div class="col-12 col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="address">Endereço</label>
          <input
            type="text"
            formControlName="addressStudent"
            name="address"
            class="form-control form-control-sm input"
          />
        </div>

        <div class="col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="name">Nome</label>
          <input
            type="text"
            name="name"
            formControlName="nameLegalGuardian"
            class="form-control form-control-sm input"
          />
        </div>

        <div class="col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="email">Email</label>
          <input
            type="text"
            name="email"
            formControlName="emailLegalGuardian"
            class="form-control form-control-sm input"
          />
        </div>

        <div class="col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="phone">Telefone</label>
          <input
            type="text"
            name="phone"
            formControlName="phoneLegalGuardian"
            class="form-control form-control-sm input"
          />
        </div>

        <div class="col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="cpf">CPF</label>
          <input
            type="text"
            name="cpf"
            formControlName="cpfLegalGuardian"
            class="form-control form-control-sm input"
          />
        </div>

        <div class="col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="rg">RG</label>
          <input
            type="text"
            name="rg"
            formControlName="rgLegalGuardian"
            class="form-control form-control-sm input"
          />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        id="outline"
        class="btn btn-dark d-flex align-items-center rounded-pill"
        style="
          height: min-content;
          width: 6rem;
          align-items: center;
          justify-content: center;
        "
        (click)="sair()"
      >
        sair
      </button>
      <button
        type="button"
        class="btn btn-dark d-flex align-items-center rounded-pill"
        style="
          height: min-content;
          width: 6rem;
          align-items: center;
          justify-content: center;
        "
        *ngIf="inicial"
        (click)="onEdit()"
        (click)="sair()"
        aria-label="Close"
      >
        salvar
      </button>
    </div>
  </div>
</body>
