.content-content {
  background: var(--primary);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0.5rem;
  height: calc(100vh - 5.9rem);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--contrast);
}

.photo {
  max-width: 100%;
  max-height: 100%;
  padding: 2rem 0;
}

.content {
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 30%;
  margin-left: 4rem;
  max-height: max-content;
}

.rounded-pill {
  background: var(--contrast);
  border: none;
  color: var(--primary);
  margin-top: 2rem;
  width: max-content;
}

.rounded-pill:hover {
  background-color: var(--contrastSecondary);
}

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 60px;
}

h1 b {
  color: var(--cyan);
}
p {
  margin-top: 2rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
}

@media (max-width: 1500px) {
  h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
  }
  p {
    margin-top: 2rem;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
  }
  .content-content {
    background: var(--primary);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0.5rem;
    height: calc(100vh - 5.9rem);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #222222;
    flex-direction: column;
  }
  .content {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 90%;
    justify-content: start;
    margin: 4rem;
    margin-bottom: 0;
    max-height: max-content;
  }

  .photo {
    width: max-content;
    height: max-content;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
  }
}
