<div class="container">
  <button
    type="button"
    class="btn-close text-reset"
    (click)="sair()"
    aria-label="Close"
    id="close"
  ></button>
  <div class="modal-header">
    <h2 class="modal-title">
      <mat-icon class="icon">library_books</mat-icon>Sobre
    </h2>
  </div>

  <div class="modal-body">
    <p>
      Uma das dificuldades enfrentadas pelas escolas atualmente é a dificuldade
      de gerenciar a rotina diária do ambiente acadêmico. Com a crescente
      dependência da tecnologia, as instituições buscam soluções rápidas e
      automáticas que simplificam esse processo, que muitas vezes se torna
      cansativo. A escola de música Family Music School não é exceção, pois
      enfrenta desafios similares. Atualmente, eles utilizam um software que não
      atende completamente às suas expectativas e necessidades. Esse software
      oferece ferramentas que não são relevantes para o atual cenário da escola,
      tornando-as praticamente inutilizáveis. Diante dessa situação, torna-se
      necessário criar uma nova plataforma que seja totalmente personalizada
      para atender às necessidades específicas da escola de música.
    </p>
    <p>
      É assim que surge o Family Music System, um projeto inovador que visa
      facilitar o desempenho organizacional e a gestão da escola de música. Essa
      nova plataforma é desenvolvida levando em consideração as demandas e
      requisitos atuais da instituição, proporcionando um ambiente mais
      eficiente e adaptado às suas operações. Com o Family Music System, a
      escola pode desfrutar de recursos e funcionalidades sob medida, eliminando
      as ferramentas desnecessárias e concentrando-se naquelas que realmente são
      relevantes para o seu sucesso.
    </p>
    <p>
      O Family Music System automatiza várias tarefas administrativas, como
      controle de matrículas, agendamento de aulas, gerenciamento de pagamentos
      e comunicação com os alunos e responsáveis. Além disso, a plataforma
      oferece recursos adicionais, como um sistema de acompanhamento do
      progresso dos alunos, armazenamento centralizado de materiais didáticos e
      até mesmo integração com instrumentos musicais digitais para aprimorar a
      experiência de aprendizado.
    </p>
    <p>
      Com essa nova plataforma personalizada, a Family Music School otimiza sua
      rotina diária, reduzindo o tempo gasto em processos manuais e
      burocráticos. Isso permite que a equipe se concentre no que realmente
      importa: proporcionar uma educação musical de qualidade aos seus alunos. O
      Family Music System representa uma solução tecnológica sob medida,
      alinhada com as necessidades e expectativas da escola de música,
      impulsionando o sucesso e o crescimento contínuo da instituição.
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      id="outline"
      class="btn btn-dark d-flex align-items-center rounded-pill"
      style="
        height: min-content;
        width: 6rem;
        align-items: center;
        justify-content: center;
      "
      (click)="sair()"
    >
      sair
    </button>
  </div>
</div>
