<header class="header">
  <div class="left">
    <button
      class="shadow-sm btn btn btn-dark d-flex align-items-center rounded-pill"
      id="sidebar-button"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample"
      *ngIf="!iscomp"
      style="height: 38px"
    >
      <mat-icon>menu</mat-icon>
      menu
    </button>
  </div>

  <div class="right">
    <div class="btn-group" dropdown>
      <button
        id="button-animated"
        dropdownToggle
        type="button"
        class="shadow-sm btn btn btn-dark d-flex align-items-center rounded-pill dropdown-toggle"
        aria-controls="dropdown-animated"
        id="ajuda"
        style="height: 38px"
      >
        <mat-icon>settings</mat-icon>
        <span class="caret"></span>
      </button>
      <ul
        id="dropdown-animated"
        *dropdownMenu
        class="shadow-sm dropdown-menu dropdown-menu-right"
        role="menu"
        aria-labelledby="button-animated"
      >
        <li role="menuitem" id="hover">
          <a class="dropdown-item" (click)="modalcontract()">Contrato</a>
        </li>
        <li role="menuitem" id="hover">
          <a class="dropdown-item" (click)="modalprivacy()">Privacidade</a>
        </li>
        <li role="menuitem" id="hover">
          <a class="dropdown-item" (click)="modalresources()">Recursos</a>
        </li>
        <li role="menuitem" id="hover">
          <a class="dropdown-item" (click)="modalhelp()">Ajuda</a>
        </li>
        <li role="menuitem" id="hover">
          <a class="dropdown-item" (click)="modalabout()">Sobre</a>
        </li>
      </ul>
    </div>
    <mat-icon class="theme" (click)="toggle()"> {{ icon_now }} </mat-icon>

    <div class="btn-group" dropdown>
      <button
        id="button-animated"
        dropdownToggle
        type="button"
        class="shadow-sm btn btn btn-custom d-flex align-items-center rounded-pill dropdown-toggle perfil"
        aria-controls="dropdown-animated"
        id="ajuda"
        style="height: 38px"
      >
        <span class="button-text">Felipe Luiz</span>
        <img
          src="\assets\image\foto perfil.png"
          class="photo"
          alt="Foto Perfil"
        />
      </button>
      <ul
        id="dropdown-animated"
        class="shadow-sm dropdown-menu dropdown-menu-right"
        role="menu"
        aria-labelledby="button-animated"
        *dropdownMenu
      >
        <li role="menuitem" id="hover">
          <a class="dropdown-item" (click)="modalcontract()">Perfil</a>
        </li>
        <li role="menuitem" id="hover">
          <a class="dropdown-item" (click)="logout()">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</header>
