.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 0.5rem;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown-item {
  cursor: pointer;
}

.ajuda {
  position: fixed;
  left: 0;
}

.theme {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--contrast);
  transform: scale(1.2);
  margin-left: 0.5rem;
}

.theme:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--contrastSecondary);
  transform: scale(1.2);
  margin-left: 0.5rem;
}

.btn-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 0 0 1rem;
  border-radius: 0.25rem;
  background-color: var(--contrast);
  color: var(--primary);
  border: none;
  margin-left: 0.5rem;
}

.button-text {
  font-size: 1rem;
  margin-left: auto;
}

.btn-custom:hover {
  background-color: var(--contrast);
  color: var(--primary);
}

.btn-check:active + .btn-dark,
.btn-check:checked + .btn-dark,
.btn-dark.active,
.btn-dark:active,
.show > .btn-dark.dropdown-toggle {
  color: var(--primary);
  background-color: var(--contrast);
  border-color: var(--contrast);
}

.photo {
  margin-left: 10px;
  height: 100%;
  width: auto;
  object-fit: contain;
}

.rounded-pill {
  background: var(--contrast);
  color: var(--primary);
}

#dropdown-animated {
  background: var(--primary);
}

.dropdown-item {
  color: var(--contrast);
}

.dropdown-item:hover {
  background-color: var(--secondary);
}

#sidebar-button {
  background: var(--contrast);
  border-color: var(--contrast);
  border-radius: 0.2rem;
}

.menu {
  margin-left: 0.2rem;
}
.perfil::after {
  content: none !important;
}

.perfil:hover {
  margin-right: 0;
}

.dropdown-menu {
  position: left;
}

/* Ajuste para telas pequenas */
// @media only screen and (max-width: 480px) {
//   .header {
//   }
// }

// /* Ajuste para telas médias */
// @media only screen and (min-width: 481px) and (max-width: 768px) {
//   .button-text {
//     font-size: 0.75rem;
//   }
//   .btn-custom {
//     height: 30px;
//     padding: 0 0 0 0.75rem;
//     margin-left: 0.35rem;
//   }
//   .theme {
//     transform: scale(0.75);
//   }
//   .theme:hover {
//     transform: scale(0.75);
//   }
//   .rounded-pill {
//     height: 30px;
//     font-size: 0.75rem;
//   }
//   .rounded-pill mat-icon {
//     transform: scale(0.75);
//   }
// }

// /* Ajuste para telas grandes */
// @media only screen and (min-width: 769px) {
// }
