<header class="header">
  <div class="left">
    <button
      class="btn btn btn-dark d-flex align-items-center rounded-pill"
      id="sidebar-button"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample"
    >
      <mat-icon>view_headline</mat-icon>
    </button>
  </div>

  <div class="right">
    <div class="btn-group" dropdown>
      <button
        id="button-animated"
        dropdownToggle
        type="button"
        class="btn btn btn-dark d-flex align-items-center rounded-pill dropdown-toggle"
        aria-controls="dropdown-animated"
        id="ajuda"
      >
        <mat-icon class="me-2">settings</mat-icon>
        <span class="caret"></span>
      </button>
      <ul
        id="dropdown-animated"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-animated"
      >
        <li role="menuitem" id="hover">
          <a class="dropdown-item" (click)="modalcontract()">contrato</a>
        </li>
        <li role="menuitem" id="hover">
          <a class="dropdown-item" (click)="modalprivacy()">privacidade</a>
        </li>
        <li role="menuitem" id="hover">
          <a class="dropdown-item" (click)="modalresources()">recusos</a>
        </li>
        <li role="menuitem" id="hover">
          <a class="dropdown-item" (click)="modalhelp()">ajuda</a>
        </li>
        <li role="menuitem" id="hover">
          <a class="dropdown-item" (click)="modalabout()">sobre</a>
        </li>
      </ul>
    </div>
    <mat-icon class="theme" (click)="toggle()"> {{ icon_now }} </mat-icon>

    <div class="btn-group" dropdown>
      <button
        id="button-animated"
        dropdownToggle
        type="button"
        class="btn btn btn-custom d-flex align-items-center rounded-pill dropdown-toggle perfil"
        aria-controls="dropdown-animated"
        id="ajuda"
      >
        <span class="button-text">Felipe Luiz</span>
        <img
          src="\assets\image\foto perfil.png"
          class="photo"
          alt="Foto Perfil"
        />
      </button>
      <ul
        id="dropdown-animated"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-animated"
      >
        <li role="menuitem" id="hover">
          <a class="dropdown-item" (click)="modalcontract()">meu perfil</a>
        </li>
        <li role="menuitem" id="hover">
          <a class="dropdown-item" (click)="modalprivacy()">sair</a>
        </li>
      </ul>
    </div>
  </div>
</header>
