<div class="container">
  <button
    type="button"
    class="btn-close text-reset"
    id="close"
    aria-label="Close"
    (click)="sair()"
  ></button>
  <div class="modal-header">
    <h3 class="modal-title">
      <mat-icon class="icon">assignment</mat-icon>Contrato
    </h3>
  </div>

  <div class="modal-body">
    <div
      #containerContract
      [ngClass]="{
        pdf: ispdf,
        nopdf: !ispdf
      }"
    >
      <img
        src="assets\image\family-music-school-png-colorido-logo-horizontal(2).png"
        class="image"
        *ngIf="ispdf"
      />
      <header
        style="
          border-bottom: 2px solid gray;
          margin-bottom: 1rem;
          min-width: 100% !important;
          text-align: center;
        "
      >
        <h1 style="text-indent: 0em !important">
          <b>CONTRATO DE PRESTAÇÃO DE SERVIÇOS</b>
        </h1>
        <h1
          style="
            padding-top: 0.5rem;
            font-size: 16px !important;
            text-indent: 0em !important;
            color: gray;
            font-weight: 1000;
          "
        >
          FAMILY MUSIC SCHOOL
        </h1>
        <p><br /></p>
      </header>
      <section>
        <p>
          <b>CONTRATANTE:</b>
          <b> {{ student ? student.Name : "------------" }}</b>
          brasileiro(a), portador(a) da carteira de identidade RG de número n.º
          <b>{{ student ? student.RG : "------------" }}</b
          >, inscrito(a) no CPF/MF sob o número n.º
          <b>{{ student ? student.CPF : "------------" }}</b
          >, residente e domiciliado à
          <b>{{ student ? student.Address : "------------" }}</b> em Brasília
          DF.
        </p>
        <p><br /></p>
      </section>
      <section>
        <p>
          <b>CONTRATADA: Jennyfer Fernandes Soares</b>, pessoa jurídica de
          direito privado, regularmente inscrita no CNPJ/MF sob o n.º
          <b>44.079.497/0001-50</b>, com sede à
          <b>SHA CONJUNTO 6 CHÁCARA 519</b>, número <b>01</b>, Arniqueiras, CEP
          <b>71.994-503</b> em <b>Brasília</b>; neste ato, representado por seu
          administrador, <b>Jennyfer Fernandes Soares</b>, brasileiro,
          empresário, portador da carteira de identidade RG de n.º |,
          <b>inscrito no CPF/MF sob o n.º 050.957.801-27</b>, residente e
          domiciliado em <b>Brasília - DF</b>.
        </p>
        <p><br /></p>
      </section>
      <p>
        As partes acima qualificadas têm entre si, justo e contratado, o
        presente contrato de prestação de serviços de ensino de música, o qual
        se regerá pelas seguintes cláusulas e condições.
      </p>
      <p><br /></p>
      <section>
        <p>
          <b>CLÁUSULA PRIMEIRA</b> - O objeto do presente instrumento é a
          prestação, pela CONTRATADA, em favor do(a) CONTRATANTE, dos serviços
          de ensino de música (CNAE 8592-9/03), por meio de aulas de música e
          prática de instrumentos na modalidade <b>CANTO E TÉCNICAS VOCAIS</b>.
        </p>
        <p><br /></p>
        <p>
          <b>Parágrafo 1°</b> - Pelo presente instrumento, o(a) CONTRATANTE opta
          pela aquisição de um pacote de <b>12 (doze aulas)</b>, os quais serão
          cumpridos ao longo de <b>3 (três meses)</b>.
        </p>
        <p>
          <b>Páragrafo 2°</b> - As aulas são intransferíveis, individuais,
          ministradas <b>1 vez por semana</b>, com duração de
          <b>50 (cinquenta minutos)</b> e agendada conforme interesse do aluno e
          disponibilidade de horário do Professor.
        </p>
        <p><br /></p>
      </section>
      <section>
        <p>
          <b>CLÁUSULA SEGUNDA</b> - É obrigação do(a) CONTRATANTE comunicar, com
          antecedência mínima de 2 (duas) horas, a impossibilidade de comparecer
          à aula previamente agendada. Caso o(a) CONTRATANTE não compareça a
          aula e não comunique a sua ausência ao Professor, computar-se-á a aula
          no pacote do(a) CONTRATANTE, salvo nos casos de enfermidade ou
          internação hospitalar, devidamente comprovadas por atestado médico.
        </p>
        <p><br /></p>
        <p>
          <b>Páragrafo Único</b> - Pactua-se que a reposição ocorrerá de acordo
          com a disponibilidade da agenda do Professor. As faltas não
          comunicadas poderão ser repostas, sendo estipulado o valor de R$ 50,00
          (cinquenta reais ) por hora/aula.
        </p>
        <p><br /></p>
      </section>
      <section>
        <p>
          <b>CLÁUSULA TERCEIRA</b> - Em contrapartida aos serviços prestados,
          o(a) CONTRATANTE pagará em favor da CONTRATADA o valor certo e ajusta
          de <b>R$ 900,00 (novecentos reais)</b>, os quais serão pagos em
          <b>3 (três parcelas)</b> iguais e sucessivas de R$ 300,00 (trezentos
          reais), sendo que a primeira vencerá no dia <b>11 de Maio de 2023</b>.
        </p>
        <p><br /></p>
        <p>
          <b>Parágrafo 1°</b> - No caso de inadimplência de quaisquer das
          parcelas, haverá a incidência de multa de 2% (dois por cento) e juros
          de 1% (um por cento) ao mês ou fração sobre o valor vencido e não
          pago.
        </p>
        <p>
          <b>Parágrafo 2°</b> No caso de inadimplência de 2 (duas) ou mais
          parcelas, o pacote do(a) CONTRATANTE será suspenso até a liquidação
          das pendências financeiras
        </p>
        <p><br /></p>
      </section>
      <section>
        <p>
          <b>CLÁUSULA QUARTA</b> - Pelo presente instrumento, o(a) CONTRATANTE
          cede em favor da CONTRATADA os direitos de utilização de sua imagem e
          voz em eventos da escola.
        </p>
        <p><br /></p>
      </section>
      <section>
        <p>
          <b>CLÁUSULA QUINTA</b> - O(A) CONTRATANTE poderá optar pela resilição
          do presente contrato antes do seu término, devendo, para tanto,
          comunicar tal intenção à CONTRATADA com antecedência mínima de 30
          (trinta) dias.
        </p>
        <p><br /></p>
        <p>
          <b>Parágrafo 1°</b> - No caso de desfazimento antecipado, haverá a
          incidência de multa contratual no percentual de 20% (vinte por cento)
          sobre o valor do saldo vincendo do contrato.
        </p>
        <p>
          <b>Parágrafo 2°</b> - Após comunicar a intenção de desfazer o
          contrato, as partes deverão fazer o acerto de contas, entre os valores
          pagos em contrapartida às aulas efetivamente assistidas pelo(a)
          CONTRATANTE, computando-se a multa contratual acima estipulada.
        </p>
        <p><br /></p>
      </section>
      <section>
        <p>
          <b>CLÁUSULA SEXTA</b> - As partes elegem o Foro da Comarca
          <b>Brasília</b>, como o único competente para dirimir toda e qualquer
          dúvida, controvérsia e litígio, decorrente do exato cumprimento deste
          contrato, com renúncia a qualquer outro, por mais privilegiado que
          seja ou venha a ser.
        </p>
      </section>
      <section>
        <p>
          E assim, por estarem justas e contratadas, as partes assinam o
          presente em duas (02) vias de igual teor, valor e forma, após lido e
          achado conforme
        </p>
        <p><br /></p>
      </section>
      <div class="center">
        <div class="footer">
          <p style="margin-bottom: 5rem !important">
            <b>Brasília - DF, {{ formattedDate }}.</b>
          </p>
        </div>
        <br />
        <div class="assinaturas">
          <div class="assinatura">
            <p
              style="
                border-top: 1px solid black;
                padding-top: 0.5rem;
                width: 15rem;
                text-indent: 0em;
                text-align: center;
              "
            >
              <b>{{ student ? student.Name : "" }}</b>
            </p>
            <p style="text-indent: 0em"><b>CONTRATANTE</b></p>
          </div>
          <br />
          <div class="assinatura">
            <p
              style="
                border-top: 1px solid black;
                padding-top: 0.5rem;
                width: 15rem;
                text-indent: 0em;
                text-align: center;
              "
            >
              <b>Family Music School</b>
            </p>
            <p style="text-indent: 0em"><b>CONTRATADA</b></p>
          </div>
        </div>
      </div>
      <p><br /></p>
      <p><br /></p>
      <footer
        class="footer"
        style="
          border-top: 1px solid black;
          padding-top: 0.5rem;
          min-width: 100% !important;
        "
      >
        <div>
          <div>1ª via Cliente - 2ª via Family Music School</div>
          <div>Contrato - Pág.1/1</div>
        </div>
        <div>
          HA CONJUNTO 6 CHÁCARA 519, 01 - Ao lado do superpet - Arniqueiras -
          Brasília - 71.994-503,
        </div>
        <div>
          S - E-mail contato.familymusicschool@gmail.com Fones (61) 99833-2523
        </div>
      </footer>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      id="outline"
      class="btn btn-dark d-flex align-items-center rounded-pill"
      style="
        height: min-content;
        width: 6rem;
        align-items: center;
        justify-content: center;
      "
      (click)="sair()"
    >
      sair
    </button>
    <button
      type="button"
      class="btn btn-dark d-flex align-items-center rounded-pill"
      style="
        height: min-content;
        width: 6rem;
        align-items: center;
        justify-content: center;
      "
      (click)="updateElValue()"
      (click)="saveContract()"
    >
      gerar
    </button>
  </div>
</div>
