<div *ngIf="loading">
  <app-preloader />
</div>
<div class="content-content" *ngIf="!loading">
  <body>
    <div class="container-fluid">
      <div class="container">
        <div class="right">
          <div class="schedulesTitle">
            <mat-icon class="personIcon">calendar_today</mat-icon>
            <p class="title">Agenda</p>
          </div>
        </div>
        <div
          class="btn-group"
          role="group"
          aria-label="Basic example"
          style="height: max-content; align-items: center"
        >
          <button
            type="button"
            class="btn btn-dark d-flex align-items-center rounded-pill buttons"
            (click)="modalFilterSala()"
            id="outline"
          >
            <mat-icon class="mobile">filter_list</mat-icon>
            <span class="button-text">filtrar</span>
          </button>
          <button
            type="button"
            class="btn btn-dark d-flex align-items-center rounded-pill buttons"
            routerLink=""
            style="
              background: var(--red) !important;
              border: none;
              width: 5rem;
              justify-content: center;
            "
            *ngIf="checked"
          >
            <span class="button-text">excluir</span>
          </button>

          <button
            type="button"
            class="btn btn-dark d-flex align-items-center rounded-pill buttons"
            style="
              margin-left: 0.5rem;
              background: var(--orange) !important;
              border: none;
              width: 5rem;
              justify-content: center;
              height: 36px;
              align-self: center;
            "
            (click)="modalAddAgenda()"
          >
            <mat-icon class="mobile">add</mat-icon>
            <span class="button-text">novo</span>
          </button>
        </div>
      </div>

      <div class="scrool">
        <table class="shadow-sm table">
          <thead>
            <tr>
              <th scope="col" style="padding-left: 1.2rem">Nº</th>
              <th scope="col" style="padding-left: 1.2rem">Sala</th>
              <th scope="col">Professor</th>
              <th scope="col" class="nomobile">Aluno</th>
              <th scope="col">Data</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody *ngIf="schedules$ | async as schedules">
            <tr
              class="selected"
              *ngFor="let schedule of schedules; let i = index"
            >
              <th scope="row" id="select-all" class="num">
                {{ i + 1 }}
              </th>
              <td scope="row" class="num">
                {{ schedule.RoomObject.Name }}
              </td>
              <td
                class="button"
                (click)="modalEditAgenda(schedule, false)"
                cursor="pointer"
                class="selectedProfile"
              >
                {{ schedule.TeacherObject.Name }}
              </td>
              <td class="nomobile">
                {{ schedule.StudentObject.Name }}
              </td>
              <td>{{ date(schedule.Horary) }}</td>
              <td>
                <mat-icon
                  (click)="modalEditAgenda(schedule, true)"
                  class="delete"
                  >edit</mat-icon
                >
                <mat-icon (click)="deleteSchedule(schedule)" class="delete"
                  >restore_from_trash</mat-icon
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ngb-alert
      *ngIf="showAlertAdd"
      class="fixed-top alert-success"
      (close)="showAlertAdd = false"
    >
      <b>Cadastro Realizado!</b> Agenda cadastrada com sucesso!
    </ngb-alert>
    <ngb-alert
      *ngIf="showAlertEdit"
      class="fixed-top alert-warning"
      (close)="showAlertEdit = false"
    >
      <b>Edição Realizada!</b> Agenda atualizada com sucesso!
    </ngb-alert>
    <ngb-alert
      *ngIf="showAlertDelete"
      class="fixed-top alert-danger"
      (close)="showAlertDelete = false"
    >
      <b>Exclusão Realizada!</b> Agenda excluída com sucesso!
    </ngb-alert>
  </body>
</div>
