<body class="corpo">
  <div class="photo">
    <button type="button" class="btn-close text-reset" (click)="sair()" aria-label="Close" id="close"></button>
    <img src="\assets\image\foto-upload.png" />
    <h3 class="subtittle">Insira uma imagem do <b>aluno</b></h3>
    <button type="button" class="btn btn-dark d-flex align-items-center rounded-pill" style="
        height: min-content;
        width: 10rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.5rem;
      ">
      carregar imagem
    </button>
  </div>
  <div class="content" id="scroll">
    <div class="modal-header">
      <h2 class="modal-title" *ngIf="inicial">
        <mat-icon class="icon">person</mat-icon>Informações do Aluno
      </h2>
      <h2 class="modal-title" *ngIf="guardian">
        <mat-icon class="icon">person</mat-icon>Informações do Resposável Legal
      </h2>
    </div>
    <div class="modal-body">
      <form [formGroup]="studentForm" class="form-row">
        <div class="col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="name">Nome completo<b>*</b></label>
          <input type="text" name="name" formControlName="nameStudent" class="form-control form-control-sm input" />
          <div *ngIf="studentForm.get('nameStudent')?.errors?.['required'] && studentForm.get('nameStudent')?.touched"
            class="validators">
            Nome obrigatório
          </div>
        </div>

        <div class="col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="email">Email<b>*</b></label>
          <input type="text" name="email" formControlName="emailStudent" class="form-control form-control-sm input" />
          <div *ngIf="
              studentForm.get('emailStudent')?.errors &&
              studentForm.get('emailStudent')?.touched
            " class="validators">
            Email obrigatório
          </div>
        </div>

        <div class="col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="phone">Telefone<b>*</b></label>
          <input type="text" name="phone" formControlName="phoneStudent" class="form-control form-control-sm input" />
          <div *ngIf="
              studentForm.get('phoneStudent')?.errors &&
              studentForm.get('phoneStudent')?.touched
            " class="validators">
            Insira um formato de telefone válido. Ex.: 61944028922
          </div>
        </div>

        <div class="col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="cpf">CPF<b>*</b></label>
          <input type="text" name="cpf" formControlName="cpfStudent" class="form-control form-control-sm input" />
          <div class="validators" *ngIf="
              studentForm.get('cpfStudent')?.errors?.['required'] &&
              studentForm.get('cpfStudent')?.touched
            ">
            CPF obrigatório
          </div>
          <div class="validators" *ngIf="
              studentForm.get('cpfStudent')?.errors?.['iscpf'] &&
              studentForm.get('cpfStudent')?.touched
            ">
            Insira um CPF válido
          </div>
        </div>

        <div class="col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="rg">RG<b>*</b></label>
          <input type="text" name="rg" formControlName="rgStudent" class="form-control form-control-sm input" />
          <div *ngIf="studentForm.get('rgStudent')?.errors?.['required'] && studentForm.get('rgStudent')?.touched"
            class="validators">
            RG obrigatório
          </div>
        </div>

        <div class="col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="disabledPerson">PCD<b>*</b></label>
          <select name="disabledPerson" formControlName="disabledPersonStudent"
            class="form-control form-control-sm input">
            <option value="false">não</option>
            <option value="true">sim</option>
          </select>
          <div
            *ngIf="studentForm.get('disabledPersonStudent')?.errors?.['required'] && studentForm.get('disabledPersonStudent')?.touched"
            class="validators">
            Seleção obrigatória
          </div>
        </div>

        <div class="col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="disabledPersonType">Se sim, qual tipo</label>
          <input type="text" name="disabledPersonType" formControlName="disabledPersonTypeStudent"
            class="form-control form-control-sm input" />
        </div>

        <div class="col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="gender">Gênero<b>*</b></label>
          <select name="gender" formControlName="genderStudent" class="form-control form-control-sm input">
            <option value="Male">masculino</option>
            <option value="Female">feminino</option>
            <option value="Others">outro</option>
          </select>
          <div
            *ngIf="studentForm.get('genderStudent')?.errors?.['required'] && studentForm.get('genderStudent')?.touched"
            class="validators">
            Seleção obrigatória
          </div>
        </div>

        <div class="col-12 col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="birthday">Data de nascimento<b>*</b></label>
          <input type="date" [max]="dataAtual" formControlName="birthdayStudent" name="birthday"
            class="form-control form-control-sm input" />
          <div *ngIf="
              studentForm.get('birthdayStudent')?.errors &&
              studentForm.get('birthdayStudent')?.touched
            " class="validators">
            Data de nascimento obrigatória
          </div>
        </div>

        <div class="col-12 col-md-6" *ngIf="inicial">
          <label class="m-0 tittle-input" for="address">Endereço<b>*</b></label>
          <input type="text" formControlName="addressStudent" name="address"
            class="form-control form-control-sm input" />
          <div *ngIf="
              studentForm.get('addressStudent')?.errors &&
              studentForm.get('addressStudent')?.touched
            " class="validators">
            Endereço obrigatótio
          </div>
        </div>

        <div class="col-md-6" *ngIf="guardian">
          <label class="m-0 tittle-input" for="name">Nome<b>*</b></label>
          <input type="text" name="name" formControlName="nameLegalGuardian"
            class="form-control form-control-sm input" />
          <div *ngIf="
              studentForm.get('nameLegalGuardian')?.errors &&
              studentForm.get('nameLegalGuardian')?.touched
            " class="validators">
            Nome obrigatótio
          </div>
        </div>

        <div class="col-md-6" *ngIf="guardian">
          <label class="m-0 tittle-input" for="email">Email<b>*</b></label>
          <input type="text" name="email" formControlName="emailLegalGuardian"
            class="form-control form-control-sm input" />
          <div *ngIf="
              studentForm.get('emailLegalGuardian')?.errors?.['email'] &&
              studentForm.get('emailLegalGuardian')?.touched
            " class="validators">
            Email obrigatótio
          </div>
        </div>

        <div class="col-md-6" *ngIf="guardian">
          <label class="m-0 tittle-input" for="phone">Telefone<b>*</b></label>
          <input type="text" name="phone" formControlName="phoneLegalGuardian"
            class="form-control form-control-sm input" />
          <div *ngIf="
              studentForm.get('phoneLegalGuardian')?.errors &&
              studentForm.get('phoneLegalGuardian')?.touched
            " class="validators">
            Insira um formato de telefone válido. Ex.: 61944028922
          </div>
        </div>

        <div class="col-md-6" *ngIf="guardian">
          <label class="m-0 tittle-input" for="cpf">CPF<b>*</b></label>
          <input type="text" name="cpf" formControlName="cpfLegalGuardian" class="form-control form-control-sm input" />
          <div class="validators" *ngIf="
              studentForm.get('cpfLegalGuardian')?.errors?.['required'] &&
              studentForm.get('cpfLegalGuardian')?.touched
            ">
            CPF obrigatório
          </div>
          <div class="validators" *ngIf="
              studentForm.get('cpfLegalGuardian')?.errors?.['iscpf'] &&
              studentForm.get('cpfLegalGuardian')?.touched
            ">
            Insira um CPF válido
          </div>
        </div>

        <div class="col-md-6" *ngIf="guardian">
          <label class="m-0 tittle-input" for="rg">RG<b>*</b></label>
          <input type="text" name="rg" formControlName="rgLegalGuardian" class="form-control form-control-sm input" />
          <div *ngIf="
              studentForm.get('rgLegalGuardian')?.errors &&
              studentForm.get('rgLegalGuardian')?.touched
            " class="validators">
            RG obrigatório
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" id="outline" class="btn btn-dark d-flex align-items-center rounded-pill" style="
          height: min-content;
          width: 6rem;
          align-items: center;
          justify-content: center;
        " (click)="sair()">
        sair
      </button>
      <button type="button" class="btn btn-dark d-flex align-items-center rounded-pill" id="outline" style="
          height: min-content;
          width: 6rem;
          align-items: center;
          justify-content: center;
        " *ngIf="guardian" (click)="GuardianBack()" aria-label="Close">
        voltar
      </button>

      <button type="button" class="btn btn-dark d-flex align-items-center rounded-pill" style="
          height: min-content;
          width: 6rem;
          align-items: center;
          justify-content: center;
        " *ngIf="inicial" (click)="Guardian()" [disabled]="!studentForm.valid" aria-label="Close"> Enviar </button>

      <button type="button" class="btn btn-dark d-flex align-items-center rounded-pill" style="
          height: min-content;
          width: 6rem;
          align-items: center;
          justify-content: center;
        " *ngIf="guardian" aria-label="Close" (click)="salvar()">
        salvar
      </button>
    </div>
  </div>
</body>