.corpo {
  display: grid;
  grid-template-columns: 20rem auto;
  border-radius: 1rem;
}

.avatar {
  display: flex;
  border-radius: 50%;
  height: 14rem;
  width: 14rem;
  overflow: hidden;
  justify-content: center;
  align-content: center;
}

.avatar > img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background: var(--secondary);
  border-radius: 1rem 0 0 1rem;
}

.modal-header {
  display: flex;
  align-items: center;
  border: none;
}

.modal-footer {
  border: none;
}

.modal-title {
  display: flex;
  color: var(--contrast);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

input[type="file"] {
  display: none;
}

.upload-image {
  padding: 20px 10px;
  width: 200px;
  background-color: var(--contrast);
  color: var(--primary);
  border-radius: 2.5rem;
  text-align: center;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}

.subtitle {
  margin-top: 0.2rem;
  color: var(--contrast);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.modal-body {
  width: 100%;
}

.form-row {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0;
}

.icon {
  position: relative;
  color: var(--cyan);
  transform: scale(1.5);
  margin-right: 1rem;
}

.input {
  background: var(--secondary);
  border: none;
  max-width: 95%;
  color: var(--contrast);
}

.col-md-6 {
  min-width: 100%;
  margin-top: 1rem;
}

.tittle-input {
  color: var(--contrast);
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.tittle-input b {
  color: var(--red);
}

.rounded-pill {
  background: var(--contrast);
  color: var(--primary);
}

.rounded-pill:hover {
  background-color: var(--contrastSecondary);
}

#outline {
  height: min-content;
  background: none;
  color: var(--contrast);
  box-shadow: inset 0 0 0 0.1rem var(--contrast);
  width: 5rem;
  align-items: center;
  justify-content: center;
}

#outline:hover {
  background-color: var(--secondary);
}

.content {
  background: var(--primary);
  border-radius: 0 1rem 1rem 0;
  padding: 2rem;
}

.validators {
  color: var(--red);
  font-size: 12px;
}

@media only screen and (max-width: 1200px) {
  .form-row {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
  }
}

#close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

@media only screen and (max-width: 995px) {
  img {
    max-width: 30%;
    margin-bottom: 0.5rem;
  }
  .corpo {
    display: contents;
    border-radius: 1rem;
  }
  .photo {
    flex-direction: column;
    border-radius: 1rem;
  }
  .content {
    border-radius: 1rem;
    overflow-y: scroll;
    max-height: 55vh;
  }
  .content::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
  }
  .content::-webkit-scrollbar-thumb {
    background-color: var(
      --contrast
    ); /* Cor do preenchimento da barra de rolagem */
    border-radius: 1rem;
  }
  .content::-webkit-scrollbar-track {
    background-color: var(--secondary); /* Cor do fundo da barra de rolagem */
  }
  .form-row {
    display: contents;
  }
  .modal-title {
    font-size: 20px;
  }

  .modal-header {
    padding: 0;
  }

  .modal-body {
    padding: 0;
  }
  .modal-footer {
    margin-top: 1rem;
  }
  .photo {
    padding: 1rem 0;
  }
}

@media (max-width: 450px) {
  .tittle-input {
    font-size: 15px;
  }
  .content {
    max-height: 60vh;
  }
}
