<div class="container">
  <button
    type="button"
    class="btn-close text-reset"
    (click)="sair()"
    aria-label="Close"
    id="close"
  ></button>
  <div class="modal-header">
    <h2 class="modal-title"><mat-icon class="icon">dvr</mat-icon>Recursos</h2>
  </div>

  <div class="modal-body">
    <h2>Políticas de Privacidade</h2>
    <p>
      A equipe de desenvolvimento do Family School Music (FMS) está comprometida
      em proteger a privacidade dos usuários do nosso site. Esta Política de
      Privacidade descreve como coletamos, usamos, armazenamos e protegemos as
      informações pessoais fornecidas pelos usuários durante o uso do nosso
      site.
    </p>
    <ol>
      <li>Informações coletadas</li>
      <ol>
        <li>
          Informações fornecidas pelo usuário: Durante o processo de registro ou
          uso do nosso site, podemos solicitar informações pessoais, como nome,
          endereço de e-mail, idade e informações relacionadas à música. Essas
          informações são fornecidas voluntariamente pelo usuário.
        </li>
        <li>
          Informações de uso: Podemos coletar informações sobre o uso do site,
          como páginas visitadas, recursos acessados e a duração da visita.
          Essas informações são coletadas de forma automática por meio de
          cookies e tecnologias similares. Elas são utilizadas para melhorar a
          experiência do usuário e personalizar o conteúdo oferecido.
        </li>
      </ol>
      <li>Uso das informações</li>
      <ol>
        <li>
          Utilização interna: As informações coletadas são utilizadas para
          fornecer e melhorar os serviços do Family School Music. Elas podem ser
          usadas para personalizar a experiência do usuário, processar
          transações, responder a solicitações, fornecer suporte ao cliente e
          enviar informações relevantes sobre o site.
        </li>
        <li>
          Comunicações: Podemos entrar em contato com os usuários por e-mail
          para fornecer atualizações sobre o site, novos recursos, eventos ou
          promoções. Os usuários têm a opção de optar por não receber essas
          comunicações promocionais.
        </li>
        <li>
          Compartilhamento de informações: Não compartilhamos informações
          pessoais dos usuários com terceiros, exceto quando necessário para
          fornecer os serviços solicitados pelo usuário ou quando exigido por
          lei.
        </li>
      </ol>
      <li>Proteção das informações</li>
      <ol>
        <li>
          Medidas de segurança: Empregamos medidas de segurança adequadas para
          proteger as informações pessoais dos usuários contra acesso não
          autorizado, alteração, divulgação ou destruição. No entanto, nenhum
          método de transmissão pela internet ou sistema de armazenamento
          eletrônico é completamente seguro, e não podemos garantir a segurança
          absoluta das informações.
        </li>
      </ol>
      <li>Cookies e tecnologias similares</li>
      <ol>
        <li>
          Cookies: Utilizamos cookies e outras tecnologias similares para
          coletar informações sobre o uso do site e melhorar a experiência do
          usuário. Os cookies podem ser desativados nas configurações do
          navegador, mas isso pode afetar a funcionalidade do site.
        </li>
      </ol>
      <li>Links para sites de terceiros</li>
      <ol>
        <li>
          O Family School Music pode conter links para sites de terceiros. Esta
          Política de Privacidade se aplica apenas ao nosso site. Não nos
          responsabilizamos pelas práticas de privacidade ou conteúdo de sites
          de terceiros. Recomendamos que os usuários leiam as políticas de
          privacidade desses sites antes de fornecer qualquer informação
          pessoal.
        </li>
      </ol>
      <li>Alterações nesta política</li>
      <ol>
        <li>
          Reservamo-nos o direito de atualizar ou modificar esta Política de
          Privacidade a qualquer momento. As alterações serão publicadas no site
          com a data de atualização. O uso contínuo do site após tais alterações
          constituirá aceitação das modificações.
        </li>
      </ol>
      <li>Privacidade de menores</li>
      <ol>
        <li>
          O Family School Music é destinado a usuários de todas as idades. No
          entanto, solicitamos que usuários menores de 18 anos obtenham
          permissão dos pais ou responsáveis antes de fornecer qualquer
          informação pessoal em nosso site.
        </li>
      </ol>
      <li>Contato</li>
      <ol>
        <li>
          Se você tiver dúvidas, preocupações ou sugestões relacionadas à nossa
          Política de Privacidade, entre em contato conosco através dos detalhes
          fornecidos em nosso site.
        </li>
      </ol>
    </ol>
    <p>
      Ao utilizar o Family School Music (FMS), você concorda com os termos e
      condições desta Política de Privacidade. É importante ler atentamente esta
      Política e revisá-la periodicamente para estar ciente de quaisquer
      atualizações.
    </p>
    <h2><br />Termos</h2>

    <p>
      Os seguintes termos de serviço ("Termos") regem o uso do site Family
      School Music (FMS). Ao acessar ou usar o site, você concorda em cumprir
      estes Termos. Se você não concordar com qualquer parte destes Termos, não
      utilize o site.
    </p>
    <ol>
      <li>Uso do site</li>
      <ol>
        <li>
          Permissão de uso: O Family School Music concede a você uma licença
          limitada, não exclusiva e intransferível para acessar e usar o site e
          seu conteúdo para fins pessoais e não comerciais. Você concorda em não
          modificar, reproduzir, distribuir, transmitir, exibir publicamente,
          executar publicamente, publicar, adaptar, criar trabalhos derivados ou
          explorar de qualquer outra forma o site e seu conteúdo, exceto
          conforme expressamente autorizado por escrito pela equipe de
          desenvolvimento do Family School Music.
        </li>

        <p>termos de uso</p>

        <li>Restrições de uso: Ao utilizar o site, você concorda em não:</li>
        <ol>
          <li>Violar qualquer lei, regulamento ou direito de terceiros;</li>
          <li>Fornecer informações falsas, imprecisas ou enganosas;</li>
          <li>
            Interferir ou interromper a segurança do site ou seu funcionamento
            adequado;
          </li>
          <li>
            Acessar, coletar ou armazenar informações pessoais de outros
            usuários sem seu consentimento;
          </li>
          <li>Enviar conteúdo ofensivo, ilegal, difamatório ou prejudicial;</li>
          <li>
            Utilizar o site para qualquer finalidade comercial sem autorização
            prévia por escrito.
          </li>
        </ol>
      </ol>
      <li>Propriedade Intelectual</li>
      <ol>
        <li>
          Direitos autorais: Todo o conteúdo presente no site Family School
          Music, incluindo textos, gráficos, logotipos, imagens, vídeos, áudios,
          software e outros materiais, são protegidos por direitos autorais e
          outras leis de propriedade intelectual. Esses materiais são
          propriedade exclusiva da equipe de desenvolvimento do Family School
          Music ou de seus licenciadores. Você concorda em respeitar todos os
          direitos autorais e outros avisos de propriedade exibidos no site.
        </li>
        <li>
          Uso permitido: Você pode visualizar, reproduzir e imprimir o conteúdo
          do site exclusivamente para uso pessoal e não comercial, desde que
          mantenha intactos todos os direitos autorais e outros avisos de
          propriedade. Qualquer outro uso, incluindo a reprodução, modificação,
          distribuição ou transmissão do conteúdo, requer autorização prévia por
          escrito da equipe de desenvolvimento do Family School Music.
        </li>
      </ol>
      <li>Isenção de responsabilidade</li>
      <ol>
        <li>
          O site Family School Music é fornecido "como está" e "conforme
          disponível". Não fazemos representações ou garantias de qualquer tipo,
          expressas ou implícitas, sobre a precisão, confiabilidade ou adequação
          do conteúdo do site para qualquer finalidade específica. Você
          reconhece que o uso do site é por sua conta e risco.
        </li>
        <li>
          Limitação de responsabilidade: Em nenhuma circunstância, a equipe de
          desenvolvimento do Family School Music será responsável por quaisquer
          danos diretos, indiretos, incidentais, consequenciais, especiais,
          punitivos ou exemplares decorrentes ou relacionados ao uso ou
          incapacidade de uso do site.
        </li>
      </ol>
      <li>Links para sites de terceiros</li>
      <ol>
        <li>
          O site Family School Music pode conter links para sites de terceiros.
          Esses links são fornecidos apenas para conveniência e não implicam
          qualquer endosso, aprovação ou controle do conteúdo desses sites por
          parte da equipe de desenvolvimento do Family School Music. Não nos
          responsabilizamos pelo conteúdo ou práticas de privacidade de sites de
          terceiros.
        </li>
      </ol>
      <li>Alterações nos termos</li>
      <ol>
        <li>
          Reservamo-nos o direito de atualizar ou modificar estes Termos a
          qualquer momento. Quaisquer alterações serão publicadas no site com a
          data de atualização. O uso contínuo do site após tais modificações
          constituirá aceitação dos Termos revisados.
        </li>
      </ol>
      <li>Lei aplicável e jurisdição</li>
      <ol>
        <li>
          Estes Termos serão regidos e interpretados de acordo com as leis do
          país em que a equipe de desenvolvimento do Family School Music está
          sediada. Qualquer disputa decorrente ou relacionada a estes Termos
          estará sujeita à jurisdição exclusiva dos tribunais competentes desse
          país.
        </li>
      </ol>
      <li>Rescisão</li>
      <ol>
        <li>
          A equipe de desenvolvimento do Family School Music reserva-se o
          direito de rescindir ou suspender seu acesso ao site, a seu critério
          exclusivo e sem aviso prévio, caso você viole estes Termos de Serviço
          ou qualquer lei aplicável.
        </li>
        <li>
          Você também tem o direito de rescindir sua utilização do site a
          qualquer momento, simplesmente deixando de acessá-lo.
        </li>
      </ol>
      <li>Disposições gerais</li>
      <ol>
        <li>
          Independência das cláusulas: Se alguma disposição destes Termos for
          considerada inválida, ilegal ou inexequível por um tribunal
          competente, tal disposição será removida ou limitada na medida mínima
          necessária para que os Termos permaneçam em pleno vigor e efeito.
        </li>
        <li>
          Acordo integral: Estes Termos constituem o acordo integral entre você
          e a equipe de desenvolvimento do Family School Music em relação ao uso
          do site, substituindo todos os acordos anteriores ou contemporâneos,
          sejam escritos ou orais.
        </li>
        <li>
          Não renúncia: A falha da equipe de desenvolvimento do Family School
          Music em fazer valer qualquer direito ou disposição destes Termos não
          constituirá uma renúncia a tal direito ou disposição, a menos que seja
          reconhecido e concordado por escrito.
        </li>
        <li>
          Idioma: Estes Termos de Serviço podem ser fornecidos em vários
          idiomas. Em caso de inconsistência ou conflito entre as versões em
          diferentes idiomas, a versão em inglês prevalecerá.
        </li>
      </ol>
    </ol>
    <p>
      Ao utilizar o site Family School Music (FMS), você concorda com estes
      Termos de Serviço. Se você não concordar com qualquer parte deles, por
      favor, não utilize o site. Se tiver alguma dúvida sobre estes Termos,
      entre em contato com a equipe de desenvolvimento do Family School Music
      para obter esclarecimentos.
    </p>
  </div>
  <div class="modal-footer"></div>
  <button
    type="button"
    id="outline"
    class="btn btn-dark d-flex align-items-center rounded-pill"
    style="
      height: min-content;
      width: 6rem;
      align-items: center;
      justify-content: center;
    "
    (click)="sair()"
  >
    sair
  </button>
</div>
