<body class="corpo">
  <div class="content" id="scroll">
    <div class="modal-header">
      <h2 class="modal-title">
        <mat-icon class="personIcon">filter_list</mat-icon>Filtrar
      </h2>
    </div>

    <div class="modal-body">
      <form [formGroup]="lessonFilterForm" class="form-row">
        <div class="col-md-6">
        <label class="m-0 tittle-input" for="age">Por Aluno</label>
        <input
          type="text"
          name="age"
          formControlName="student"
          class="form-control form-control-sm input"
        />
      </div>
  
          <div class="col-md-6">
            <label class="m-0 tittle-input" for="age">Por Professor</label>
            <input
              type="text"
              name="age"
              formControlName="teacher"
              class="form-control form-control-sm input"
            />
          </div>
      </form>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        id="outline"
        class="btn btn-dark d-flex align-items-center rounded-pill"
        style="
          height: min-content;
          width: 6rem;
          align-items: center;
          justify-content: center;
        "
        (click)="exit()"
      >
        cancelar
      </button>
      <button
        type="button"
        class="btn btn-dark d-flex align-items-center rounded-pill"
        style="
          height: min-content;
          width: 6rem;
          align-items: center;
          justify-content: center;
        "
        (click)="filter()"
      >
        filtrar
      </button>
    </div>
  </div>
</body>
