footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: var(--pretoPrimario);
  bottom: 0;
  height: 4%;
  width: 100%;
}

p {
  margin: 0;
  color: var(--brancoPrimario);
  font-size: 0.9em;
}
