.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 4vh;
  width: 100%;
  background: var(--contrast);
}

.footer p {
  margin: 0;
  color: var(--primary);
  font-size: 0.9rem;
}
