.modalForgotPassword {
  background-color: var(--primary);
  color: var(--contrast);
  border-radius: 5%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.subtitle {
  margin: 0;
}

.btn-close {
  margin: 0;
}

.btn-close:focus {
  display: none;
}

.resetForm {
  margin-bottom: 1rem;
}

.modal-body > button {
  color: var(--primary);
  background-color: var(--contrast);
}
