<div class="modalForgotPassword">
    <div class="modal-header">
        <h3 class="subtitle">Redefinir Senha</h3>
        <button type="button" class="btn-close text-reset" aria-label="Close" (click)="exit()">
        </button>
    </div>
    <div class="modal-body">
        <p><b>Insira seu endereço de e-mail para redefinir sua senha.</b></p>
        <form [formGroup]="resetForm" action="" class="resetForm">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" formControlName="email">
            </div>
        </form>
        <button type="button" class="btn btn-dark d-flex align-items-center rounded-pill" style="
          height: min-content;
          width: 6rem;
          align-items: center;
          justify-content: center;
        " aria-label="Submit" (click)="submit()">
            Enviar
        </button>
    </div>
</div>