.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

.modal-header {
  display: flex;
  width: 90%;
  border: none;
  padding: 0;
  margin: 1rem 0;
}

.modal-title {
  display: flex;
  color: var(--contrast);
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 1rem;
  margin-left: 0.2rem;
}

.icon {
  position: relative;
  color: var(--cyan);
  transform: scale(1.5);
  margin-right: 1rem;
}

.modal-body {
  background: var(--secondary);
  width: 90%;
  border-radius: 1rem;
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8rem !important;
  text-align: justify;
  text-indent: 3em;
  margin: 0 !important;
  color: var(--contrast);
}

.modal-body::-webkit-scrollbar {
  width: 8px;
  /* Largura da barra de rolagem */
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: var(--contrast);
  /* Cor do preenchimento da barra de rolagem */
  border-radius: 1rem;
}

.modal-body::-webkit-scrollbar-track {
  background-color: var(--secondary);
  /* Cor do fundo da barra de rolagem */
}

#outline {
  height: min-content;
  margin-left: 0.5rem;
  background: none;
  color: var(--contrast);
  box-shadow: inset 0 0 0 0.1rem var(--contrast);
  width: 5rem;
  align-items: center;
  justify-content: center;
}

#outline:hover {
  background-color: var(--secondary);
}

.rounded-pill {
  margin-bottom: 1rem;
}

body {
  font-family: Arial, sans-serif;
}

.indexTitle {
  color: var(--contrast);
  text-align: center;
}

.subtitle {
  color: var(--contrast);
  text-align: left;
  font-weight: bold;
}

.subtitle2 {
  color: var(--contrast);
  text-align: left;
  font-weight: bold;
}

.loginImage {
  max-width: 100%;
  margin: 1rem;
}

.sidebarImage {
  color: var(--contrast);
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.shortSidebarImage {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.tableImage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.tableIcons {
  margin: 1rem;
  width: 100%;
}

.settingsHelp {
  display: flex;
  justify-content: center;
}

.componentClass {
  display: flex;
  flex-direction: column;
}

ul {
  color: var(--contrast);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  color: var(--contrast);
  margin: 10px 0;
}

li::first-word {
  font-weight: bold;
}

.first-word {
  font-weight: bold;
}

ul ul {
  color: var(--contrast);
  margin-left: 20px;
}

ul ul li {
  color: var(--contrast);
  margin: 5px 0;
}

table {
  color: var(--contrast);
  border-collapse: collapse;
  border: 2px solid black;
}

th,
td {
  color: var(--contrast);
  border: 1px solid black;
  padding: 8px;
}

@media only screen and (max-width: 992px) {
  .tableIcons {
    transform: inherit;
    margin: 0;
    padding: 0;
  }

  .settingsHelp {
    flex-direction: column;
  }

  .tableImage {
    width: 100%;
  }
}
