.content-content {
  background: var(--primary);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0.5rem;
  height: calc(100vh - 5.9rem);
  border-radius: 1rem 0 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--contrast);
  overflow-y: scroll;
  overflow-x: hidden;
}

.photo {
  max-width: 100%;
  max-height: 100%;
  padding: 2rem 0;
}

.content {
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 30%;
  margin-left: 4rem;
  max-height: max-content;
}

.rounded-pill {
  background: var(--contrast);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--primary);
  margin-top: 2rem;
  width: max-content;
}
.rounded-pill span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}

.rounded-pill span mat-icon {
  margin-left: 8px;
}

.rounded-pill:hover {
  background-color: var(--contrastSecondary);
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  align-self: center;
  margin-bottom: 5rem;
}

h1 b {
  color: var(--cyan);
  font-size: 80px;
}
p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.8rem !important;
  text-align: justify;
  text-indent: 3em;
  margin: 0 !important;
}

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 74px;
  line-height: 80px;
}
p {
  margin-top: 2rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  text-indent: 3em;
}
.content-content {
  background: var(--primary);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0.5rem;
  height: calc(100vh - 5.9rem);
  border-radius: 1rem 0 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--contrast);
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
.content {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 90%;
  justify-content: start;
  margin: 4rem;
  margin-bottom: 0;
  max-height: max-content;
}

.photo {
  min-width: 100%;
  min-height: 80%;
  padding: 2rem 1rem;
}

.content-content::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

.content-content::-webkit-scrollbar-thumb {
  background-color: var(
    --contrast
  ); /* Cor do preenchimento da barra de rolagem */
  border-radius: 1rem;
}

.content-content::-webkit-scrollbar-track {
  background-color: var(--secondary); /* Cor do fundo da barra de rolagem */
}

.icones {
  width: 15rem;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.icon {
  cursor: pointer;
}

h2 {
  font-size: 18px;
  margin-top: 2rem;
}
