@import "../node_modules/bootstrap/scss/bootstrap";

:root {
  --background: #b7cd96;
  --selector: #b5dc79;
  --contrast: #222222;
  --contrastSecondary: #2c2b2bde;
  --primary: #fffdf0;
  --secondary: #f0efdd;
  --shadow: #aaaaaa;
  --cyan: #1aa58f;
  --orange: #f39106;
  --red: #f66e43;
}

:root .darkTheme {
  --background: #273c32;
  --selector: #365346;
  --contrast: #fffdf0;
  --contrastSecondary: #f0efddde;
  --primary: #222222;
  --secondary: #2c2b2b;
  --shadow: #aaaaaa;
  --cyan: #1aa58f;
  --orange: #f39106;
  --red: #f66e43;
}

html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.modal {
  --bs-modal-bg: var(--primary);
  --bs-modal-border-radius: 1rem;
  --bs-modal-border: none;
  --bs-modal-border-width: 0;
}

.modal-dialog {
  margin-top: 2rem;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 1rem !important;
  background-color: var(--primary) !important;
  color: var(--contrast) !important;
  padding: 0rem 2rem !important;
}

@media (min-width: 576px) {
  .modal {
    --bs-modal-margin: 0;
  }
}

.offcanvas {
  --bs-offcanvas-width: 17rem;
}

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
