<div class="content-content">
  <body>
    <div class="container-fluid">
      <div class="container">
        <div class="right">
          <div class="studentsTitle">
            <mat-icon class="personIcon">person</mat-icon>
            <p class="title">Alunos</p>
          </div>
          <form class="d-flex" role="search">
            <div class="search-container">
              <input
                class="form-control me-3"
                id="researchStudents"
                type="search"
                aria-label="Search"
              />
              <i class="material-icons search-icon">search</i>
            </div>
            <button
              type="button"
              class="btn btn-dark d-flex align-items-center rounded-pill"
              routerLink=""
              style="
                height: min-content;
                margin-left: 0.5rem;
                width: 5rem;
                align-items: center;
                justify-content: center;
              "
            >
              buscar
            </button>
            <button
              type="button"
              class="btn btn-dark d-flex align-items-center rounded-pill"
              (click)="modalFilterAlunos()"
              id="outline"
            >
              filtrar
            </button>
          </form>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button
            type="button"
            class="btn btn-dark d-flex align-items-center rounded-pill"
            routerLink=""
            style="
              background: var(--red) !important;
              border: none;
              width: 5rem;
              justify-content: center;
            "
            *ngIf="checked"
          >
            <span class="button-text">excluir</span>
          </button>
          <button
            type="button"
            class="btn btn-dark d-flex align-items-center rounded-pill"
            (click)="modalAlunos(false)"
            style="
              margin-left: 0.5rem;
              background: var(--orange) !important;
              border: none;
              width: 6rem;
              justify-content: center;
              height: 38px;
              align-self: center;
            "
          >
            <i class="material-icons add-icon">add</i>
            <span class="button-text">novo</span>
          </button>
        </div>
      </div>

      <div class="scrool">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                <input class="form-check-input" type="checkbox" value="" />
              </th>
              <th scope="col">Nome</th>
              <th scope="col">Email</th>
              <th scope="col">Plano</th>
              <th scope="col">Telefone</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="selected">
              <th scope="row" id="select-all">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
              </th>
              <td class="button" (click)="modalViewAlunos()">
                <img
                  src="../../../../assets/image/foto perfil.png"
                  alt="Foto Aluno"
                  class="miniProfile"
                />
                Luiz peidao
              </td>
              <td>luizdofrifa@gmail.com</td>
              <td>Básico</td>
              <td>(61) 94402-8922</td>
              <td>
                <mat-icon>edit</mat-icon>
                <mat-icon>restore_from_trash</mat-icon>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
              </th>
              <td>
                <img
                  src="../../../../assets/image/foto perfil.png"
                  alt="Foto Aluno"
                  class="miniProfile"
                />
                Luiz Felipe
              </td>
              <td>luizdofrifa@gmail.com</td>
              <td>Básico</td>
              <td>(61) 94402-8922</td>
              <td>
                <mat-icon>edit</mat-icon>
                <mat-icon>restore_from_trash</mat-icon>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
              </th>
              <td>
                <img
                  src="../../../../assets/image/foto perfil.png"
                  alt="Foto Aluno"
                  class="miniProfile"
                />
                Luiz Felipe
              </td>
              <td>luizdofrifa@gmail.com</td>
              <td>Básico</td>
              <td>(61) 94402-8922</td>
              <td>
                <mat-icon>edit</mat-icon>
                <mat-icon>restore_from_trash</mat-icon>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
              </th>
              <td>
                <img
                  src="../../../../assets/image/foto perfil.png"
                  alt="Foto Aluno"
                  class="miniProfile"
                />
                Luiz Felipe
              </td>
              <td>luizdofrifa@gmail.com</td>
              <td>Básico</td>
              <td>(61) 94402-8922</td>
              <td>
                <mat-icon>edit</mat-icon>
                <mat-icon>restore_from_trash</mat-icon>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
              </th>
              <td>
                <img
                  src="../../../../assets/image/foto perfil.png"
                  alt="Foto Aluno"
                  class="miniProfile"
                />
                Luiz Felipe
              </td>
              <td>luizdofrifa@gmail.com</td>
              <td>Básico</td>
              <td>(61) 94402-8922</td>
              <td>
                <mat-icon>edit</mat-icon>
                <mat-icon>restore_from_trash</mat-icon>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
              </th>
              <td>
                <img
                  src="../../../../assets/image/foto perfil.png"
                  alt="Foto Aluno"
                  class="miniProfile"
                />
                Luiz Felipe
              </td>
              <td>luizdofrifa@gmail.com</td>
              <td>Básico</td>
              <td>(61) 94402-8922</td>
              <td>
                <mat-icon>edit</mat-icon>
                <mat-icon>restore_from_trash</mat-icon>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
              </th>
              <td>
                <img
                  src="../../../../assets/image/foto perfil.png"
                  alt="Foto Aluno"
                  class="miniProfile"
                />
                Luiz Felipe
              </td>
              <td>luizdofrifa@gmail.com</td>
              <td>Básico</td>
              <td>(61) 94402-8922</td>
              <td>
                <mat-icon>edit</mat-icon>
                <mat-icon>restore_from_trash</mat-icon>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
              </th>
              <td>
                <img
                  src="../../../../assets/image/foto perfil.png"
                  alt="Foto Aluno"
                  class="miniProfile"
                />
                Luiz Felipe
              </td>
              <td>luizdofrifa@gmail.com</td>
              <td>Básico</td>
              <td>(61) 94402-8922</td>
              <td>
                <mat-icon>edit</mat-icon>
                <mat-icon>restore_from_trash</mat-icon>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
              </th>
              <td>
                <img
                  src="../../../../assets/image/foto perfil.png"
                  alt="Foto Aluno"
                  class="miniProfile"
                />
                Luiz Felipe
              </td>
              <td>luizdofrifa@gmail.com</td>
              <td>Básico</td>
              <td>(61) 94402-8922</td>
              <td>
                <mat-icon>edit</mat-icon>
                <mat-icon>restore_from_trash</mat-icon>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
              </th>
              <td>
                <img
                  src="../../../../assets/image/foto perfil.png"
                  alt="Foto Aluno"
                  class="miniProfile"
                />
                Luiz Felipe
              </td>
              <td>luizdofrifa@gmail.com</td>
              <td>Básico</td>
              <td>(61) 94402-8922</td>
              <td>
                <mat-icon>edit</mat-icon>
                <mat-icon>restore_from_trash</mat-icon>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
              </th>
              <td>
                <img
                  src="../../../../assets/image/foto perfil.png"
                  alt="Foto Aluno"
                  class="miniProfile"
                />
                Luiz Felipe
              </td>
              <td>luizdofrifa@gmail.com</td>
              <td>Básico</td>
              <td>(61) 94402-8922</td>
              <td>
                <mat-icon>edit</mat-icon>
                <mat-icon>restore_from_trash</mat-icon>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
              </th>
              <td>
                <img
                  src="../../../../assets/image/foto perfil.png"
                  alt="Foto Aluno"
                  class="miniProfile"
                />
                Luiz Felipe
              </td>
              <td>luizdofrifa@gmail.com</td>
              <td>Básico</td>
              <td>(61) 94402-8922</td>
              <td>
                <mat-icon>edit</mat-icon>
                <mat-icon>restore_from_trash</mat-icon>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
              </th>
              <td>
                <img
                  src="../../../../assets/image/foto perfil.png"
                  alt="Foto Aluno"
                  class="miniProfile"
                />
                Luiz Felipe
              </td>
              <td>luizdofrifa@gmail.com</td>
              <td>Básico</td>
              <td>(61) 94402-8922</td>
              <td>
                <mat-icon>edit</mat-icon>
                <mat-icon>restore_from_trash</mat-icon>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
              </th>
              <td>
                <img
                  src="../../../../assets/image/foto perfil.png"
                  alt="Foto Aluno"
                  class="miniProfile"
                />
                Luiz Felipe
              </td>
              <td>luizdofrifa@gmail.com</td>
              <td>Básico</td>
              <td>(61) 94402-8922</td>
              <td>
                <mat-icon>edit</mat-icon>
                <mat-icon>restore_from_trash</mat-icon>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
              </th>
              <td>
                <img
                  src="../../../../assets/image/foto perfil.png"
                  alt="Foto Aluno"
                  class="miniProfile"
                />
                Luiz Felipe
              </td>
              <td>luizdofrifa@gmail.com</td>
              <td>Básico</td>
              <td>(61) 94402-8922</td>
              <td>
                <mat-icon>edit</mat-icon>
                <mat-icon>restore_from_trash</mat-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</div>
