<div class="content-content">

    <body>
        <div class="container-fluid">
            <nav class="navbar bg-body-tertiary">
                <div class="container">
                    <div class="studentsTitle">
                        <img src="../../../../assets/image/person.png" alt="person-icon" class="personIcon">
                        <p class="title">Alunos</p>
                    </div>
                    <form class="d-flex" role="search">
                        <div class="search-container">
                            <input class="form-control me-3" id="researchStudents" type="search" aria-label="Search">
                            <i class="material-icons search-icon">search</i>
                        </div>
                        <button type="button" class="btn" id="searchbutton"><span
                                class="button-text">buscar</span></button>
                        <button type="button" class="btn" id="filterbutton"><span
                                class="button-text">filtrar</span></button>
                    </form>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" style="margin-right: 25px;" class="btn" id="deleteButton"><span
                                class="button-text">excluir</span></button>
                        <button type="button" class="btn" id="newButton">
                            <i class="material-icons add-icon">add</i>
                            <span class="button-text">novo</span>
                        </button>
                    </div>
                </div>
            </nav>



            <div class="scrool">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"><input class="form-check-input"
                                    type="checkbox" value="" id="flexCheckDefault">
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Plano</th>
                            <th scope="col">Telefone</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="selected">
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <td> <img src="../../../../assets/image/foto perfil.png" alt="Foto Aluno"
                                    class="miniProfile">
                                Luiz peidao</td>
                            <td>luizdofrifa@gmail.com</td>
                            <td>Básico</td>
                            <td>(61) 94402-8922</td>
                            <td><mat-icon>edit</mat-icon> <mat-icon>restore_from_trash</mat-icon></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <td> <img src="../../../../assets/image/foto perfil.png" alt="Foto Aluno"
                                    class="miniProfile">
                                Luiz Felipe</td>
                            <td>luizdofrifa@gmail.com</td>
                            <td>Básico</td>
                            <td>(61) 94402-8922</td>
                            <td><mat-icon>edit</mat-icon> <mat-icon>restore_from_trash</mat-icon></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <td> <img src="../../../../assets/image/foto perfil.png" alt="Foto Aluno"
                                    class="miniProfile">
                                Luiz Felipe</td>
                            <td>luizdofrifa@gmail.com</td>
                            <td>Básico</td>
                            <td>(61) 94402-8922</td>
                            <td><mat-icon>edit</mat-icon> <mat-icon>restore_from_trash</mat-icon></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <td> <img src="../../../../assets/image/foto perfil.png" alt="Foto Aluno"
                                    class="miniProfile">
                                Luiz Felipe</td>
                            <td>luizdofrifa@gmail.com</td>
                            <td>Básico</td>
                            <td>(61) 94402-8922</td>
                            <td><mat-icon>edit</mat-icon> <mat-icon>restore_from_trash</mat-icon></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <td> <img src="../../../../assets/image/foto perfil.png" alt="Foto Aluno"
                                    class="miniProfile">
                                Luiz Felipe</td>
                            <td>luizdofrifa@gmail.com</td>
                            <td>Básico</td>
                            <td>(61) 94402-8922</td>
                            <td><mat-icon>edit</mat-icon> <mat-icon>restore_from_trash</mat-icon></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <td> <img src="../../../../assets/image/foto perfil.png" alt="Foto Aluno"
                                    class="miniProfile">
                                Luiz Felipe</td>
                            <td>luizdofrifa@gmail.com</td>
                            <td>Básico</td>
                            <td>(61) 94402-8922</td>
                            <td><mat-icon>edit</mat-icon> <mat-icon>restore_from_trash</mat-icon></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <td> <img src="../../../../assets/image/foto perfil.png" alt="Foto Aluno"
                                    class="miniProfile">
                                Luiz Felipe</td>
                            <td>luizdofrifa@gmail.com</td>
                            <td>Básico</td>
                            <td>(61) 94402-8922</td>
                            <td><mat-icon>edit</mat-icon> <mat-icon>restore_from_trash</mat-icon></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <td> <img src="../../../../assets/image/foto perfil.png" alt="Foto Aluno"
                                    class="miniProfile">
                                Luiz Felipe</td>
                            <td>luizdofrifa@gmail.com</td>
                            <td>Básico</td>
                            <td>(61) 94402-8922</td>
                            <td><mat-icon>edit</mat-icon> <mat-icon>restore_from_trash</mat-icon></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <td> <img src="../../../../assets/image/foto perfil.png" alt="Foto Aluno"
                                    class="miniProfile">
                                Luiz Felipe</td>
                            <td>luizdofrifa@gmail.com</td>
                            <td>Básico</td>
                            <td>(61) 94402-8922</td>
                            <td><mat-icon>edit</mat-icon> <mat-icon>restore_from_trash</mat-icon></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <td> <img src="../../../../assets/image/foto perfil.png" alt="Foto Aluno"
                                    class="miniProfile">
                                Luiz Felipe</td>
                            <td>luizdofrifa@gmail.com</td>
                            <td>Básico</td>
                            <td>(61) 94402-8922</td>
                            <td><mat-icon>edit</mat-icon> <mat-icon>restore_from_trash</mat-icon></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <td> <img src="../../../../assets/image/foto perfil.png" alt="Foto Aluno"
                                    class="miniProfile">
                                Luiz Felipe</td>
                            <td>luizdofrifa@gmail.com</td>
                            <td>Básico</td>
                            <td>(61) 94402-8922</td>
                            <td><mat-icon>edit</mat-icon> <mat-icon>restore_from_trash</mat-icon></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <td> <img src="../../../../assets/image/foto perfil.png" alt="Foto Aluno"
                                    class="miniProfile">
                                Luiz Felipe</td>
                            <td>luizdofrifa@gmail.com</td>
                            <td>Básico</td>
                            <td>(61) 94402-8922</td>
                            <td><mat-icon>edit</mat-icon> <mat-icon>restore_from_trash</mat-icon></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <td> <img src="../../../../assets/image/foto perfil.png" alt="Foto Aluno"
                                    class="miniProfile">
                                Luiz Felipe</td>
                            <td>luizdofrifa@gmail.com</td>
                            <td>Básico</td>
                            <td>(61) 94402-8922</td>
                            <td><mat-icon>edit</mat-icon> <mat-icon>restore_from_trash</mat-icon></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</div>