@import "../node_modules/bootstrap/scss/bootstrap";

body {
  min-height: 100vh;
  height: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

:root {
  --fundoClaro: #b7cd96;
  --fundoEscuro: #273c32;
  --pretoPrimario: #222222;
  --pretoSecundario: #2c2b2b;
  --brancoPrimario: #fffdf0;
  --brancoSecundario: #f0efdd;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
