@import "../node_modules/bootstrap/scss/bootstrap";

:root {
  --background: #b7cd96;
  --selector: #b5dc79;
  --contrast: #222222;
  --primary: #fffdf0;
  --secondary: #f0efdd;
  --shadow: #aaaaaa;
  --cyan: #1aa58f;
  --orange: #f39106;
  --red: #f66e43;
}

:root .darkTheme {
  --background: #273c32;
  --selector: #365346;
  --contrast: #fffdf0;
  --primary: #222222;
  --secondary: #2c2b2b;
  --shadow: #aaaaaa;
  --cyan: #1aa58f;
  --orange: #f39106;
  --red: #f66e43;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  height: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
