<body class="corpo">
  <div class="content" id="scroll">
    <div class="modal-header">
      <h2 class="modal-title">
        <mat-icon class="personIcon">filter_list</mat-icon>Filtrar
      </h2>
    </div>

    <div class="modal-body">
      <form [formGroup]="studentFilterForm" class="form-row">
        <div class="col-md-6">
          <label class="m-0 tittle-input" for="radioGroup">Por Cadastro</label>

          <div class="col-md-6">
            <select
              name="createdAt"
              formControlName="createdAt"
              class="form-control form-control-sm input"
            >
              <option value="?sort=createdAt:asc">mais recentes</option>
              <option value="?sort=createdAt:desc">mais antigos</option>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <label class="m-0 tittle-input" for="radioGroup">Por Gênero</label>
          <div class="col-md-6">
            <select
              name="genderStudentFilter"
              formControlName="genderStudentFilter"
              class="form-control form-control-sm input"
            >
              <option value="?filters[Gender][$eq][1]=Male">masculino</option>
              <option value="?filters[Gender][$eq][1]=Female">feminino</option>
              <option value="?filters[Gender][$eq][1]=Others">outro</option>
            </select>
          </div>
        </div>

        <div class="col-md-6 formGroup2">
          <label class="m-0 tittle-input" for="date1">Data de Nascimento</label>
          <div class="dateClass">
            <input
              type="date"
              name="date1"
              formControlName="dateStudentFilter1"
              class="form-control form-control-sm input"
            />
            <label class="m-0 text-label2" for="date2">a</label>
            <input
              type="date"
              name="date2"
              formControlName="dateStudentFilter2"
              class="form-control form-control-sm input"
            />
          </div>
        </div>

        <div class="col-md-6 formGroup2">
          <label class="m-0 tittle-input" for="age">Por idade</label>
          <input
            type="text"
            name="age"
            formControlName="ageStudentFilter"
            class="form-control form-control-sm input"
          />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        id="outline"
        class="btn btn-dark d-flex align-items-center rounded-pill"
        style="
          height: min-content;
          width: 6rem;
          align-items: center;
          justify-content: center;
        "
        (click)="exit()"
      >
        cancelar
      </button>
      <button
        type="button"
        class="btn btn-dark d-flex align-items-center rounded-pill"
        style="
          height: min-content;
          width: 6rem;
          align-items: center;
          justify-content: center;
        "
        (click)="filter()"
      >
        filtrar
      </button>
    </div>
  </div>
</body>
